<html>
<head>
<link href="style.css" rel="stylesheet" type="text/css">

</head>	
<body class="index"><br><br>
	<center><h1>&#129395;&#127881; <font class="text">Lets Party! </font>&#127870;&#127867;</h1></center><br><br>
	<center><h2 style="color:white"><span class="blinking">Come on Join us!</span></h2></center><br><br>
	<center><br><br>
		<form method="post" action="/login" class="login">
			<table>
				<tr>If you haven't registered already, Please REGISTER!</tr>
				<tr>
					<td>
						<input type="text" name="rollnumber" placeholder="ROLL NUMBER" required>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" name="username" placeholder="USERNAME" required>
					</td>
				</tr>
				<tr>
					<td>
						<input type="password" name="password" placeholder="PASSWORD" required><br><br><br>
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" name="submit" value="LOGIN">
					</td>
				</tr>
			</table>
		</form>
				<form method="post" action="/register" class="register">
			<table>
				<tr>
					<td>
						<input type="text" name="rollnumber" placeholder="ROLL NUMBER" required>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" name="username" placeholder="USERNAME" required>
					</td>
				</tr>
				<tr>
					<td>
						<input type="password" name="password" placeholder="PASSWORD" required>
					</td>
				</tr>
				<tr>
					<td>
						<input type="password" name="confirm-password" placeholder="CONFIRM-PASSWORD" required>
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" name="register" value="REGISTER">
					</td>
				</tr>
			</table>
		</form><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<font color = "White">Welcome Guyzz...!</font>
	</center>
</body>
</html>