<html>	
<body><br><br>
	<div style="background-color: #7CE9FB;border: solid;margin-right: 200px;margin-left: 200px;">
	<center>
		<br><br>
		Do you want to send to another user?
		<form method="post" action="/send_to"><input type="submit" name="yes" value="YES"></form>
		<form method="get" action="/home"><input type="submit" name="no" value="NO"></form>
	</center>
	</div>
</body>
</html>