<html>
<head>
<link href="style.css" rel="stylesheet" type="text/css">
</head>	
<body class="invite"><br><br>
	<div class="send-to">
		<center>
		<br><br>
		<form method="post" action="/send" class="send"><br>
			<input type="text" name="to_rollno" placeholder="RECEIVER ROLLNUMBER"><br>
			<input type="text" name="to_name" placeholder="RECEIVER NAME"><br>
	
			<input type="submit" name="send" value="SEND" style="margin-right: 500px">
		</form>
		</center>
	</div>
</body>
</html>